---
import Section from "../Section.astro";
import { skills } from "@cv";
---

<Section className={Astro.props.className}>
  <ul class="flex flex-col gap-6">
    {
      skills.map(({ name, keywords }) => {
        return (
          <li>
             <div class="flex flex-wrap gap-2">
                {keywords.map((key) => (
                    <span class="rounded-md bg-skin-button-muted px-2 py-1 text-sm font-mono text-skin-muted ring-1 ring-skin-muted/50 hover:text-skin-accent hover:ring-skin-accent transition-all cursor-default">
                        {key}
                    </span>
                ))}
             </div>
          </li>
        );
      })
    }
  </ul>
</Section>
